
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.text-light {
    color: #d6d6d6 !important;
}

a {
    color: #006FF5;
}

.dbg {
    background-color: #ff9494;
}

h1 {
    font-size: 2rem
}

.pointer {
    cursor: pointer !important;
}

img.simg {
    margin-top: 0px;
    margin-right: 2px;
    width: 22px;
    height: 22px;
}

.thighl {
    background-color: #ffffca !important;
}

.hidden {
    visibility: hidden !important;
}

.btn-primary {
    background-color: #006FF5;
}

.progressArea {
    margin-top:7px;
}

.h50 { height:50px !important;}

.hw24 {
    height: 24px;
    width: 24px;
}

.hw13 { height:10em; width:10em;}

.hw35 {
    height: 3.5em !important;
    width: 3.5em !important;
}


.op7 { opacity:0.7;}

.highlight, .highlight td {
    background-color: #ffffb6 !important;
}

h3.h3sp {
    font-size: 1.2em;
}

.icon-browser {
    width: 5.5em !important;
    height: 5.5em !important;
}

img.sic {
    margin-top: 1px;
    margin-right: 0px;
    width: 16px;
    height: 16px;
}

.pbox { height:63px}


.micon {
    height: 3.5em !important;
}

.ficon {
    height: 2.5em !important;
}


img.px16 {
    width: 16px;
    height: 16px
}

img.vic {
    height: 16px;
    width: 16px;
    margin-top: 4px
}

img.stdic {
    margin-top: 0px;
    margin-right: 2px;
    width: 16px;
    height: 16px;
}

img.stdmic {
    margin-top: 0px;
    margin-right: 2px;
    width: 22px;
    height: 22px;
}

img.kic {
    max-width: 16px;
    max-height: 16px;
    width: 16px;
    height: 16px;
}

h4, h2 {
    font-size: 1.4em;
}

.active pre {
    color: white !important
}

.icon-arrow-alt-circle-down {
    stroke: currentColor;
    fill: currentColor;
}

.list-group-item-action:hover pre {
    color: black !important;
}

.icon16 {
    height: 26px !important;
    width: 40px !important;
}

.iconcc {
    height: 24px !important;
    width: 32px !important;
}

.btn-xs {
    padding: .0.5rem .1rem !important;
    font-size: 0.67rem !important;
    border-radius: 0.1rem !important;
}

h5 {
    font-size: 1.1em;
}

.bg-black {
    background-color: black;
}

.bg-table {
    background-color: #e8e8e8 !important;
}


    .bg-table th {
        font-weight: normal;
    }

.curved {
    border-radius: 7px;
}

.customers img {
    width: 100%;
}

.rounded-circle {
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.avatar {
    max-width: 150px;
}

.table-hover tbody tr td {
    cursor: pointer;
}


.fixed-card-wide {
    width: 26rem;
    height: 22rem;
}

.list-group-item :hover, .list-group-item-action:hover {
    background-color: #fff3cd !important;
    color: black;
}

.list-group-min-height li {
    min-height: 125px;
}

    .list-group-min-height li p {
        padding-bottom: 0;
        margin-bottom: 0;
    }

svg[class*=" flag-"] {
    opacity: 0.75;
}

.icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    width: 1em;
    height: 1em;
    align-items: center;
}

.iconl {
    width: 15px;
    height: 15px;
    fill: #28a745;
    margin-right: 3px;
}


.list-group-item-sm {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}








.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
    width: 100%;
}


.tt-menu {
    margin: 12px 0;
    padding: .375rem .75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    max-height: 400px;
    overflow: auto;
}

.tt-suggestion {
    padding: 3px 20px;
}

    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion p {
        margin: 0;
        padding: 10px;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;
    }










.no-hover:hover {
    background-color: none !important;
}

.list-group-item-no-hover:hover {
    background-color: white !important;
}

.table-hover tbody tr.no-hover:hover {
    background-color: white !important;
}

table[data-sortable] th:not([data-sortable="false"]) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    cursor: pointer;
}

table[data-sortable] th:after {
    content: "";
    visibility: hidden;
    display: inline-block;
    vertical-align: inherit;
    height: 0;
    width: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    margin-top: 8px;
    margin-right: 1px;
    margin-left: 10px;
    float: right;
}

table[data-sortable] th[data-sorted="true"]:after {
    visibility: visible;
}

table[data-sortable] th[data-sorted-direction="descending"]:after {
    border-top-color: inherit;
}

table[data-sortable] th[data-sorted-direction="ascending"]:after {
    border-bottom-color: inherit;
    margin-top: 2px;
}





.fixed-card {
    width: 18rem;
    height: 22rem;
}

    .fixed-card .btn {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .fixed-card svg {
        width: 15rem
    }

.card-header-sm {
    padding: .5rem 1.0rem;
}

.card-body-sm {
    padding: 1.0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


.card-body-vsm {
    padding: 0.1rem;
}

.svg-link {
    fill: #006FF5
}

.bg-midlight {
    background-color: #dadada;
}



.icon-chevron-down, .icon-chevron-up {
    width: 12px;
    height: 12px;
    fill: #6c757d;
    margin-right: 3px;
}




.ico {
    width: 18px;
    height: 18px;
    color: #c6c6c6;
    fill: #c6c6c6;
    display: block;
    float: left;
    margin-right: 6px;
}

.ml-6 {
    margin-left: 2.0rem !important;
}

@media (max-width: 768px) {
    .mt-40 {
        margin-top: 2rem;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    .mainSB {
        font-size: 0.75rem
    }
}


@media ( min-width:768px) {
    .text-right-md {
        text-align: right !important;
    }
}


.navLogo {
    height: 35px;
    fill: white;
}


.modalLogo {
    width: 142px;
}

.loginLogo {
    width: 30px;
    height: 30px;
}






.flexcenter, .navbrand-login {
    display: flex;
    align-items: center
}


@media ( max-width:576px) {

    .navhome { padding-left:14px;}

}


    .navhome {
        font-size: 0.75rem;
        color: #c9c9c9;
        padding-top: 4px;
    }



    .dropdown-item, .nav-link {
        font-size: 0.9rem
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #c9c9c9 !important;
    }


    .bg-dark {
        background-color: #094303 !important;
    }

    .mt-40 {
        margin-top: 4rem
    }


    .mb-40 {
        margin-bottom: 4rem
    }


    .mb-80 {
        margin-bottom: 8rem
    }


    .mt-80 {
        margin-top: 8rem
    }

    .xsmall {
        font-size: .7rem !important
    }

    .xxsmall {
        font-size: .65rem !important
    }



    footer {
        color: #e9e9e9
    }

        footer a {
            color: #e9e9e9
        }

            footer a:hover {
                color: white;
            }

.footer-bottom {
    background: #424242;
    padding: 2em;
}

.f86 { font-size:0.9rem !important;}

.footer-middle {
    background: #424242;
    padding-top: 2em;
    color: #e9e9e9
}

    .bg-primary {
        background-color: #d9d9d9 !important;
    }

    .sm {
        font-size: 0.8rem;
    }

    .border-top-0 td {
        border-top: 0;
        padding-bottom: 0.2rem;
        padding-top: 0.2rem
    }

    .border-bottom-0 td {
        padding-bottom: 0.2rem;
    }

    .border-bottom-1 td {
        padding-bottom: 0.75rem !important;
    }

    .border-bottom-2 td {
        padding-bottom: 1.0rem !important;
    }



    .ct-negative-labels .ct-label {
        fill: rgba(255,255,255,.8);
    }










    .icon-check {
        width: 14px;
        height: 14px;
        fill: #128d0e;
    }

    .block {
        display: inline-block;
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        border-radius: 6px;
        color: rgba(0, 0, 0, 0.87);
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .block-caption {
        font-weight: 700;
        color: #3C4857;
    }

    .block .category:not([class*="text-"]) {
        color: #3C4857;
        font-size: 1.6em;
        font-weight: 700;
    }

    h6, .h6 {
    }

    .block h1 {
        font-size: 4.5rem;
    }

    .block [class*="table-"] .block-caption a,
    .block [class*="table-"] .block-caption,
    .block [class*="table-"] .icon i {
        color: #FFFFFF;
    }

    .block-pricing .block-caption {
        margin-top: 30px;
    }


    .block-pricing {
        text-align: center;
    }

        .block-pricing .block-caption {
            margin-top: 30px;
        }

        .block-pricing .table {
            padding: 15px !important;
            margin-bottom: 0px;
        }

        .block-pricing .icon {
            padding: 10px 0 0px;
            color: #3C4857;
        }

            .block-pricing .icon i {
                font-size: 55px;
                border: 1px solid #ececec;
                border-radius: 50%;
                width: 130px;
                line-height: 130px;
                height: 130px;
            }

        .block-pricing h1 small {
            font-size: 18px;
        }

            .block-pricing h1 small:first-child {
                position: relative;
                top: -17px;
                font-size: 26px;
            }

        .block-pricing ul {
            list-style: none;
            padding: 0;
            max-width: 240px;
            margin: 10px auto;
        }

            .block-pricing ul li {
                color: #3C4857;
                text-align: center;
                padding: 12px 0;
                border-bottom: 1px solid rgba(153, 153, 153, 0.3);
            }

                .block-pricing ul li:last-child {
                    border: 0;
                }

                .block-pricing ul li b {
                    color: #3C4857;
                }

                .block-pricing ul li i {
                    top: 6px;
                    position: relative;
                }

        .block-pricing.block-background ul li,
        .block-pricing [class*="table-"] ul li {
            color: #FFFFFF;
            border-color: rgba(255, 255, 255, 0.3);
        }

            .block-pricing.block-background ul li b,
            .block-pricing [class*="table-"] ul li b {
                color: #FFFFFF;
            }

        .block-pricing.block-background [class*="text-"],
        .block-pricing [class*="table-"] [class*="text-"] {
            color: #FFFFFF;
        }

        .block-pricing.block-background:after {
            background-color: rgba(0, 0, 0, 0.7);
        }

    .block-background:not(.block-pricing) .btn {
        margin-bottom: 0;
    }

    .block-raised {
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }



    .block [class*="table-"] .category, .block [class*="table-"] .block-description {
        color: rgba(255, 255, 255, 1);
    }

    .block .table-pro {
        background-color: #094303;
        border-radius: 6px;
    }

    .featureBox {
        border-top: solid 1px #efefef;
        padding-top: 20px;
    }

body
{
  min-width:470px;
  overflow-x:hidden;
	padding: 0;
	margin: 0;font-family: 'Nunito', sans-serif;
    font-size: 1.0rem;
}


.table-sm {     font-size: 0.7rem; }
.table-sm a {     font-size: 0.7rem !important; }

h2 a { font-size:1.1rem }
h2 { font-size:1rem; }
.nav-tabs .nav-link, a { font-size:0.8rem }


#detailed div.col-12 { padding-left:0px; padding-right:0px; }
.nav a { color:#006FF5 !important; }

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
	  margin-top:20px;
	  margin-bottom:20px;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #094303;
  }

}

@keyframes colors {
  0% {
    stroke: #094303;
  }
  
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}



.logo { margin-left:10px;margin-top:10px; }