<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Options</title>
    <script type="module" crossorigin src="/src/js/options.js"></script>
    <link rel="modulepreload" crossorigin href="/src/js/index.js">
    <link rel="modulepreload" crossorigin href="/src/js/SettingsPage.js">
    <link rel="stylesheet" href="/assets/SettingsPage-2c32a612.css">
  </head>
  <body>
    <div id="options"></div>
    
  </body>
</html>
