body {
    margin: 0;
}

.options {
    width: 440px;
    height: 220px;
    padding: 16px 20px;
}

.options__group + .options__group {
    margin-top: 8px;
}

.options__text {
    margin: 0 0 8px;
}

.options__info {
    opacity: 0;
    margin: 16px 0 0;
    transition: opacity 0.3s;
}

.options__info--success {
  color: #4CAf50;
}

.options__info--active {
    opacity: 1;
}
